<html>
    <head>
        <title>Questions</title>
        <script type="text/javascript">
            function updateQuestion(question){
                var ele = document.getElementById('questionText');
                ele.innerHTML = question;
            }
        </script>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="intellij-light.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </head>
    <body style="height: fit-content; padding: 0; margin: 0;">
        <pre style="white-space: pre-wrap;"><code class="language-python" id="questionText">
        </code></pre>
    </body>
</html>

