<html>
    <head>
        <title>Questions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" href="default.min.css">
                        <script src="highlight.min.js"></script>
                        <script>hljs.highlightAll();</script>
            <link rel="stylesheet" href="style.css">
            </head>
    <body>
        <pre style="width: 100%"><code class="language-python">
# Sum of natural numbers up to num

num = 16

if num < 0:
    print("Enter a positive number")
    else:
    sum = 0
    # use while loop to iterate until zero
    while(num > 0):
    sum += num
    num -= 1
    print("The sum is", sum)

        </code></pre>        
    </body>
</html>
